streamlit_drawable_canvas
openpyxl
pandas
datetime
Pillow
reportlab==3.6.12 
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
logging
altair<5
pyarrow>=14.0.0
# Force deploy），然後儲存。
